@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;

}

body {
  background: rgb(16, 17, 27);
  color: #fff;;
}

.blog-container {
  max-width: 900px;
  display: block;
  margin: 0 auto;
  padding: 0 10px;
}

.blog-container > h1 {
  margin-top: 50px;
  color: #cc2b5e;
  font-size: 4em;
}

.blog-container > .tagline {
  margin-top: 10px;
  color: #fff;
  font-style: italic;
  font-size: 0.9em;
}

.next-btn {
  position: fixed;
  bottom: 5%;
  right: 10%;
  width: 40px;
  height: 40px;
  background-color: #cc2b5e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1px;
}

a {
  color: #fff;
}
/* .heading-underline {
  height: 5px;
  width: 50px;
  background-color: #753a88;
} */

.blog-body {
  margin-top: 40px;
  background: rgb(7, 8, 17);
  border-radius: 8px;
  padding: 1em;
  padding-top: 2em;
  font-size: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

table,
th,
td {
  border: 1px solid #333;
}

th {
  font-style: italic;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
}

tr {
  font-size: 0.8em;
  text-align: center;
}

i {
  font-family: 'Source Sans Pro', sans-serif;
}

.blog-body > ol > li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.95em;
}

.code-snippet {
  margin: 20px 0;
}

.code-snippet > pre > code {
  font-size: 0.85em;
}